@{
    ViewData["Title"] = "Tax Manager";
}
@section styles{
    <link href="~/lib/alertifyjs/css/alertify.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/css/themes/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" />
}
<section class="content-header">

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tax Manager</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tax Manager</li>
                </ol>
            </div>
        </div>
    </div>

</section>
<section class="content">
    <partial name="_Notification" />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <a id="CreateEdit" data-tooltip="tooltip" title="Add New Category" data-toggle="modal" asp-action="Create" asp-controller="Taxs" data-target="#modal-addedit-detail" class="btn btn-success btn-sm pull-right">
                            <i class="fa fa-plus"></i> Add New
                        </a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="card-body table-responsive">
                    <table id="grid-Tax" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Id</th>                       @*<[0]></>*@
                                <th width="2%">#</th>             @*<[1]></>*@
                                <th>Title</th>                    @*<[2]></>*@
                                <th>Category</th>                 @*<[3]></>*@
                                <th>Value in %</th>               @*<[4]></>*@
                                <th>Status</th>                   @*<[5]></>*@
                                <th>Created Date</th>             @*<[6]></>*@
                                <th width="20%">Action</th>       @*<[7]></>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>

</section>
@{
    var addeditModel = new Modal { ID = "modal-addedit-detail", AreaLabeledId = "modal-addedit-detail-label", Size = ModalSize.Large };

    var viewModel = new Modal { ID = "modal-view-detail", AreaLabeledId = "modal-view-detail-label", Size = ModalSize.Large };
    var deleteModel = new Modal { ID = "modal-delete", AreaLabeledId = "modal-delete-label", Size = ModalSize.Medium };
}
<partial name="_Modal" model="addeditModel" />
<partial name="_Modal" model="deleteModel" />
<partial name="_Modal" model="viewModel" />

@section scripts{

    <!-- dataTables -->
    <script src="~/lib/bootstrap/dist/js/bootstrap-switch.js"></script>
    <script src="~/lib/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/view/admin/taxs/index.js"></script>
}


