@model ResetPasswordViewModel
@using EC.Core
@{
    var headerModel = new ModalHeader { Heading = "Reset Password" };
}
<div id="frm-resetpassword-users">
    <form asp-action="ResetPassword" asp-controller="usermanager" novalidate="novalidate">
        <partial name="_ModalHeader" model="headerModel" />
        <input type="hidden" asp-for="Id" />
        <div id="validation-summary" class="alert-danger"></div>
        <div class="modal-body box-body">

                <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="Password">Password<span class="text-danger">*</span></label>
                  <div class="col-sm-9">
                    <div class="input-group">
                    <input type="password" title="Enter the Password." asp-for="Password" class="form-control" id="myInput" />
                        <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fa fa-fw fa-eye field_icon" id="spn" onclick="myFunction()"></span>
                                    </div>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="field-validation-error"> </span>
                  </div>
                
                </div>
                <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="ConfirmPassword">Confirm Password<span class="text-danger">*</span></label>
                    <div class="col-sm-9">
                    <div class="input-group">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="myInput1" />
                         <div class="input-group-append">
                            <div class="input-group-text">
                                   <span class="fa fa-fw fa-eye  field_icon" id="spn1" onclick="myFunctionConfrm()"></span>
                             </div>
                         </div>
                        
                        </div>
                    <span asp-validation-for="ConfirmPassword" class="field-validation-error"> </span>
                    </div>
                </div>
        </div>
        <partial name="_ModalFooter" model="new ModalFooter { }" />
    </form>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");

        if (x.type === "password") {
            x.type = "text";
            $('#spn').toggleClass("fa-eye-slash");
        }
        else {
            x.type = "password";
            $('#spn').toggleClass("fa-eye");
        }
    }




    function myFunctionConfrm() {
        var x = document.getElementById("myInput1");
        if (x.type === "password")
        {
            x.type = "text";
            $('#spn1').toggleClass("fa-eye-slash");
        } 
        else
        {
            x.type = "password";
            $('#spn1').toggleClass("fa-eye");
        }
    }
</script>


