@{
    ViewData["Title"] = "User Manager";
}
@section styles{
    <link href="~/lib/alertifyjs/css/alertify.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/css/themes/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User Manager</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="index" asp-controller="dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <partial name="_Notification" />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <a id="CreateEdit2" data-tooltip="tooltip" title="Add New User" data-toggle="modal" asp-action="CreateEdit" asp-controller="UserManager" data-target="#modal-add-edit-users" class="btn btn-success btn-sm pull-right">
                            <i class="fa fa-plus"></i> Add New
                        </a>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table id="grid-users" class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Id</th>                             <!--[0]-->
                                <th width="2%">#</th>                   <!--[1]-->
                                <th>First Name</th>                     <!--[2]-->
                                <th>Last Name</th>                      <!--[3]-->
                                <th>Mobile No</th>                      <!--[4]-->
                                <th>Email</th>                          <!--[5]-->
                                <th>Verified</th>                       <!--[6]-->
                                <th>Created At</th>                     <!--[7]-->
                                <th>Status</th>     <!--[8]-->
                                <th width="156px">Action</th>           <!--[9]-->
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@{
    var editModel = new Modal { ID = "modal-add-edit-users", AreaLabeledId = "modal-add-edit-users-label", Size = ModalSize.Large };
    var resetPasswordModel = new Modal { ID = "modal-resetpassword-users", AreaLabeledId = "modal-resetpassword-users-label", Size = ModalSize.Large };
    var deleteModel = new Modal { ID = "modal-delete-users", AreaLabeledId = "modal-action-delete-label", Size = ModalSize.Medium };
    var ViewModel = new Modal { ID = "modal-View-users", AreaLabeledId = "modal-action-View-label", Size = ModalSize.Medium };
}
<partial name="_Modal" model="editModel" />
<partial name="_Modal" model="deleteModel" />
<partial name="_Modal" model="resetPasswordModel" />
<partial name="_Modal" model="ViewModel" />
@section Scripts{
    <script>
        $(document).ready(function () {
            $('[data-tooltip="tooltip"]').tooltip();
        });
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-switch.js"></script>
    <script src="~/lib/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/view/admin/user-manager/index.js"></script>
}


