@{
    ViewData["Title"] = "EmailVerification";
    Layout = "~/Areas/admin/Views/shared/_ExternalLayout.cshtml";
}

<div style="color:red">
    @ViewBag.Message
</div>
<div style="color:blue">
    @ViewBag.SuccessMessage
</div>
<div style="color:red">
    @ViewBag.ErrorMessage
</div>


