@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="content">
    <div class="row">
        <div class="error-page">
            <h2 class="headline text-yellow"> 403</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Access Denied!</h3>
                <p>
                   Oops! You are not authorized.
                </p>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </div>
</section>
